recipients = ["recipient mail", "second recipient"]

mail_user = 'here goes your mail user login'
mail_password = 'mail user password'
smtp_server = 'smtp connection url'
smtp_port = 'smtp port'
serial_port = "serial port of the device"

file_path = "scan.csv"
img_path = "scan.eps"
flat_data_path = "scan_flat.csv"
