#MAIN SETUP
recipient="<RECIPIENT>" # Recipient email, to which the reports are sent
sendgrid_apikey="<SENDGRID_APIKEY>" # Used for authorization with sendgrid web api

#MISC SETUP
serial_port="<SERIAL_PORT>" # Serial port of the GSM/GPRS Modem
file_path="<RAW_DATA_FILE>.csv" # Raw reading file name 
flat_data_path="<FLAT_DATA_FILE>.csv" # x,y processed data file name
img_path="<IMAGE_FILE>.eps" # Graph image file name
