[Unit]
Description=<SERVICE_DESCRIPTION>
After=network.target

[Service]
ExecStart=/usr/bin/python3 -u <MAIN_FILE>
WorkingDirectory=<DIR>
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target